coverage
build.sh
dist/src/*\.test\.*
dist/*\.test\.*
dist/esm/*\.test\.*
src/*\.test\.*
.github/
dist/jest\.*
dist/esm/jest\.*
jest.config.js
src/jest.setup.ts
types/jest.*
*.tgz
.tool-versions
.eslintrc.js
.prettierignore
.prettierrc
CODEOWNERS
